{% extends "index.html" %}
{% block body %}
        <div>
            <p class="lead">Sube tu historial de Twitter (formato csv) y te diremos qué tweets tienes que eliminar para
                poder ser concejal</p>
            <p class="text-danger">Error: archivo no soportado o vacío. Inténtalo de nuevo.</p>
            <!-- Lista con los pasos para obtener el JSON --></div>
        <div>

         <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br /><br />
            <input class="btn btn-primary" type="submit" value="¡Al ayuntamiento!">
          </form>
      </div>
      {% endblock %}
    </div>
  </body>
</html>