<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Concejalapp</h3>
      </div>
      <hr/>
      {% block body %}
        <div>
            <p class="lead">Sube tu historial de Twitter (formato csv) y te diremos qué tweets tienes que eliminar para
                poder ser concejal</p>
            <ol>
             <li>Entra en <a href="https://twitter.com/settings/account">https://twitter.com/settings/account</a> </li>
             <li>Solicita tu archivo de twitter (te llegará un mail cuando esté disponible)</li>
             <li>Extrae los archivos del .zip y sube tu <strong>tweets.csv</strong></li>
            </ol>

        </div>


        <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
          <div class="form-group">
                <label class="control-label">Palabras extra (separadas por comas)</label>
                <input type="text" class="form-control" name="palabrasExtra" placeholder="Palabras extra">
          </div>
          <div class="form-group">
                <label class="control-label">Archivo CSV</label>
                <input type="file" name="file">
          </div>
          <div class="form-group">
                <input class="btn btn-primary" type="submit" value="¡Al ayuntamiento!">
          </div>
      </form>
      </div>
      {% endblock %}

    </div>
  </body>

  <footer class="footer">
          <div class="container text-center">
            <p class="text-muted credit"></html><a href="https://github.com/HJulio/concejalapp">H</a> - 2015</p>
          </div>

</html>